<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>

        <div class="main-body">
            <img class="top-background" src="http://cdn.mcauto-images-production.sendgrid.net/fa29f8964f81462a/05080f56-1a20-4f92-8972-54fdb81f5184/2349x794.png" />

            <div class="content">
                <div class="table">
                    <div class="table-header">
                        <h1 class="header-title">Welcome </h1>
                        <div class="divider"></div>
                    </div>
                    <div class="table-content">
                        <p>Hello {{ name }},</p>
                        <p>Welcome to our system</p>
                        
                        <div id="btn-link">
                            <a href="{{link}}">The System</a>    
                        </div>                        
                        <p><br>Gently,<br>The System Team</p>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
